/* Decimal Font Family - Clean Implementation */

@font-face {
  font-family: "Decimal";
  src: url("/assets/fonts/decimal-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("/assets/fonts/decimal-book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("/assets/fonts/decimal-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("/assets/fonts/decimal-semibold.ttf") format("truetype");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("/assets/fonts/decimal-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("/assets/fonts/decimal-extrablack.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("/assets/fonts/decimal-black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("/assets/fonts/decimal-ultra.ttf") format("truetype");
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("/assets/fonts/decimal-ultra-italic.ttf") format("truetype");
  font-weight: 950;
  font-style: italic;
  font-display: swap;
}

/* Font utility classes */
.font-decimal {
  font-family: "Decimal", sans-serif;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

.font-ultra {
  font-weight: 950;
}
